html {
  background: linear-gradient(177.52deg, #916bbf 2.11%, #3d2c8d 81.34%);
  background-repeat: no-repeat;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

h2,
footer {
  font-family: "Roboto";
}

button {
  border: none;
}

.itens-comprados {
  text-decoration: line-through;
}

.borda-lista {
  border-bottom: dotted 2px #1c0c5b;
}

input:disabled {
  border: none;
  background: none;
  color: black;
}

input {
  border: none;
  background: none;
  color: black;
}
